.skillsComponents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
  //border: 1px solid blue;

  @media screen and (max-width: 450px) {
    max-width: 140px;
    justify-content: flex-start;
  }

  img {
    height: 64px;
    margin: 0 auto 1rem auto;
  }

  h4,
  p {
    text-align: center;
  }

  p {
    margin-top: 0.5rem;
  }

  @media screen and (max-width: 450px) {
    img {
      height: 48px;
    }
  }
}
