h1 {
  font-size: 96px;
}

h2 {
  font-size: 72px;
}

h3 {
  font-size: 38px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

@media screen and (max-width: 390px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }
}

// FONT
$ft-size-xsmall: 12px;
$ft-size-small: 14px;
$ft-size-text: 16px;
$ft-size-large-text: 18px;
$ft-size-medium: 22px;
$ft-size-large: 32px;
$ft-size-xlarge: 48px;
