// COLOR
$light-grey: #d9d9d9;
$grey: #6e7181;
$coral: #eb6763;
$black: #0d0a05;
$white: #ffffff;
$pastel-yellow: #fdfd78;

// PADDING
$padding-small: 1rem;
$padding-medium: 2rem;
$padding-button: 0.75rem 2rem;
